.container{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em;
  background-color: white;
  border-radius: 10px;
}

.input-group{
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-holder{
  width: 44px;
  height: 24px;
  background-color: #111;
  border-radius: 10px;
  margin-left: 5px;
}

.toggle{
  width: 20px;
  height: 20px;
  transition: transform .3s, background-color .3s;
  border-radius: 10px;

}

.toggle-box{
  transform: translate(1px, 2px);
  background-color: red;
}

.toggle-circle{
  transform: translate(23px, 2px);
  background-color: green;
}

.show-component{
  width: 100px;
  margin: 0 auto;
}

.props-img{
  width: 100%;
  height: auto;
  display: block;
  border-top: 3px steelblue solid;
  border-bottom: 3px steelblue solid;
  padding: 10px 0;
  background-color: whitesmoke;
}

@media (max-width: 500px) {

  body{
    padding: 0;
  }

  .container{
    width: 100%;
    border-radius: 0;
  }
}